<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <base href="/www/">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Rodrigo" />
  <meta name="description" content="Meu primeiro sistema" />
  <title>Sistema</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <link href="css/carousel.css" rel="stylesheet" /> -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="angular/angular.min.js"></script>
  <script src="angular/angular-route.min.js"></script>
  <script src="angular/application.js"></script>
  <script src="angular/router.js"></script>
  <script src="controllers/professores.js"></script>
  <script src="controllers/professoresabas.js"></script>
  <script src=controllers/contato.js></script>
  <script src="controllers/sobre.js"></script>

</head>
<!-- NAVBAR
  ================================================== -->
  <body ng-app="application">
      <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="rodrigoapp" class="navbar-brand" href="#">Escola Futebol</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#" ng-click="loadView('/sobre')">Sobre</a></li>
            <li><a href="#" ng-click="loadView('/contato')">Contato</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="loadView('/professores')">Professores</a></li>
                <li><a href="#" ng-click="loadView('/professoresabas')">Professores abas</a></li>
                <li><a href="#" ng-click="loadView('/cursos')">Cursos</a></li>
                <li><a href="#" ng-click="loadView('/contato')">Alunos</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Turmas</li>
                <li><a href="#">Horários</a></li>
                <li><a href="#">Conheça a escola</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div ng-view></div>
      <footer>
        <hr class="featurette-divider">
        <p class="pull-right"><a href="#">Voltar ao topo</a></p>
        <p>&copy; 2019 Company, Inc. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
      </footer>
    </div>
  </body>
  </html>
