<!DOCTYPE html>
<html lang="en" ng-app="professoresModulo">
<head>
  <base href="/www/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="js/angular.min.js"></script> 
  <link rel="icon" href="imagens/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <title>Professores</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">



  <link href="css/carousel.css" rel="stylesheet">
  <script src="controllers/professores.js"></script>  

</head>
<!-- NAVBAR
  ================================================== -->
  <body ng-controller="professoresController">



  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>

      <h1 class="listacadastros" align="center">Lista de cadastros </h1>  
      <form class="form-horizontal">
        <div class="form-group"> 
          <label for="codigo" class="col-sm-2 control-label">Código</label>
          <div class="col-sm-2">   
            <input type="text" required ng-model="professor.codigo" class="form-control" id="codigo" placeholder="Código" >
          </div>
        </div>
        <div class="form-group">
          <label for="nome" class="col-sm-2 control-label">Nome</label>
          <div class="col-sm-5"> 
            <input type="text" required ng-model="professor.nome" class="form-control" id="nome" placeholder="Nome">
          </div>
        </div>
        <div class="form-group"> 
          <label for="email" class="col-sm-2 control-label">E-mail</label>
          <div class="col-sm-4">  
            <input type="email" ng-model="professor.email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>     
        <div class="form-group"> 
          <label for="telefone" class="col-sm-2 control-label">Telefone</label>
          <div class="col-sm-2">
            <input type="text" ng-model="professor.telefone" class="form-control" id="telefone" placeholder="( ) X XXXX - XXXX">
          </div>
        </div>  
        <br>
        <div align="center" class="form-group">  
          <button type="submit" ng-click="limparCampos()" class="btn btn-success" >Novo</button>
          <button ng-disabled="!professor.nome && !professor.codigo" type="submit" ng-click="salvarProfessor()" class="btn btn-primary">Gravar</button>
          <button type="submit" ng-click="excluirProfessor()" class="btn btn-danger">Excluir</button>
          <label>Pesquisa de professores:</label>
          <input type="text" ng-model="pesquisaProfessor" id="pesquisa" placeholder="Pesquisar...">
        </div>
      </form>
      <table class="table table-striped table-hover">
        <th>Código</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <tr ng-repeat="professoresTabela in professores | filter:pesquisaProfessor" ng-click="selecionaProfessor(professoresTabela)">
          <td>{{professoresTabela.codigo}}</td>
          <td>{{professoresTabela.nome}}</td>
          <td>{{professoresTabela.email}}</td>
          <td>{{professoresTabela.telefone}}</td>
        </tr>
      </table>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

      <!-- FOOTER -->


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>    
      
    </body>
    </html>
