<div ng-controller="professoresController">
	<br><br><br><br><br>
	<h1 class="listacadastros" align="center">Cadastros Alunos</h1>  
	<form class="form-horizontal">
		<div class="form-group"> 
			<label for="codigo" class="col-sm-2 control-label">Código</label>
			<div class="col-sm-3">   
				<input type="text" required ng-model="professor.codigo" class="form-control" id="codigo" placeholder="Código" >
			</div>
		</div>
		<div class="form-group"> 
			<label for="telefone" class="col-sm-2 control-label">Telefone</label>
			<div class="col-sm-3">
				<input type="text" ng-model="professor.telefone" class="form-control" id="telefone" placeholder="( ) X XXXX - XXXX">
			</div>
		</div>  
		<div class="form-group">
			<label for="nome" class="col-sm-2 control-label">Nome</label>
			<div class="col-sm-6"> 
				<input type="text" required ng-model="professor.nome" class="form-control" id="nome" placeholder="Nome">
			</div>
		</div>
		<div class="form-group"> 
			<label for="email" class="col-sm-2 control-label">E-mail</label>
			<div class="col-sm-6">  
				<input type="email" ng-model="professor.email" class="form-control" id="email" placeholder="Email">
			</div>
		</div>     
		
		<br>
		<div align="center" class="form-group">  
			<button type="submit" ng-click="limparCampos()" class="btn btn-success" >Novo</button>
			<button ng-disabled="!professor.nome && !professor.codigo" type="submit" ng-click="salvarProfessor()" class="btn btn-primary">Gravar</button>
			<button type="submit" ng-click="excluirProfessor()" class="btn btn-danger">Excluir</button>
			<label>Pesquisa de Alunos:</label>
			<input type="text" ng-model="pesquisaProfessor" id="pesquisa" placeholder="Pesquisar...">
		</div>
	</form>
	<table class="table table-striped table-hover">
		<th>Código</th>
		<th>Nome</th>
		<th>Email</th>
		<th>Telefone</th>
		<tr ng-repeat="professoresTabela in professores | filter:pesquisaProfessor" ng-click="selecionaProfessor(professoresTabela)">
			<td>{{professoresTabela.codigo}}</td>
			<td>{{professoresTabela.nome}}</td>
			<td>{{professoresTabela.email}}</td>
			<td>{{professoresTabela.telefone}}</td>
		</tr>
	</table>
</div>