
<div ng-controller="professoresabasController">  
  <body>
   <div class="container">
     <h1 class="listacadastros" align="center">Lista de cadastros </h1>  
     <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#lista" aria-controls="lista" role="tab" data-toggle="tab">Lista de Alunos</a></li>
      <li role="presentation"><a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro de Alunos</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="lista">
        <div class="container">
          <br>
          <label>Pesquisa de alunos:</label>
          <input type="text" ng-model="pesquisaProfessor" id="pesquisa" placeholder="Pesquisar...">
          <table class="table table-striped table-hover">
            <br><br>  
            <th>Código</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <tr ng-repeat="professoresTabela in professores | filter:pesquisaProfessor" ng-click="selecionaProfessor(professoresTabela)">
              <td>{{professoresTabela.codigo}}</td>
              <td>{{professoresTabela.nome}}</td>
              <td>{{professoresTabela.email}}</td>
              <td>{{professoresTabela.telefone}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastro">
        <form class="form-horizontal">
          <br>
          <div class="form-group"> <br>
            <label for="codigo">Código</label>
            <input type="text" required ng-model="professor.codigo" class="form-control" id="codigo" placeholder="Código" >
          </div>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" required ng-model="professor.nome" class="form-control" id="nome" placeholder="Nome">
          </div>

          <div class="form-group"> 
            <label for="email">E-mail</label>
            <input type="email" ng-model="professor.email" class="form-control" id="email" placeholder="Email">
          </div>

          <div class="form-group"> 
            <label for="telefone">Telefone</label>
            <input type="text" ng-model="professor.telefone" class="form-control" id="telefone" placeholder="( ) X XXXX - XXXX">
          </div>
        </div>
      </div> 
      <br>
      <div align="center" class="form-group">  
        <button type="submit" ng-click="limparCampos()" class="btn btn-success" >Novo</button>
        <button ng-disabled="!professor.nome && !professor.codigo" type="submit" ng-click="salvarProfessor()" class="btn btn-primary">Gravar</button>
        <button type="submit" ng-click="excluirProfessor()" class="btn btn-danger">Excluir</button>
      </div> 

    </form>
  </div>
</div>
</div>

</div><!-- /.container -->

<script>
  $('a[data-tnlksdkfjskoggle="tab"]').on('click', function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
</script>


</body>
</html>    
